/*ESTILOS GERAIS*/
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --corBackgroundPrimaria: #45dbfc;
    --corBackgroundSecundaria: #04133d;
    --corBackgroundDark: #0e0e0e;
    --corTextoPrimaria: #636363;
    --cortextoSecundaria: black;
} 

.hidden{
    display: none;
}

.coluna{
    flex-basis: 49%;
}


/*BODY*/
body{
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
header {
    background-color: var(--corBackgroundPrimaria);
    padding: 30px 30px 0;
}

header .container{
    background-color: white;
    position: relative;
}

header .linha{
    align-items: center;
    border-bottom: 1px solid #d4e9ff;
}

header .coluna h1{
    font-size: 1.5rem;
    color: var(--cortextoSecundaria);
}

header .coluna p{
    font-size: 0.9rem;
    color: var(--corTextoPrimaria);
    padding-right: 2px;
}

header .coluna ul{
    margin: 15px 0 0;
}

header .coluna ul li {
    margin: 0;
    font-size: 0.9rem;
    color: var(--cortextoSecundaria);
}

header .coluna ul li a{
    font-size: 0.9rem;
    color: var(--cortextoSecundaria);
}

header .sup-esquerda{
    flex-basis: 30%;
}

header .sup-esquerda img{
    max-width: 100%;
}

header .sup-direita{
    flex-basis: 57%;
    text-align: center;
    padding: 0 15px 10px;
}

/*PAGE INICIAL*/
main .coluna{
    padding: 20px;
}

main ul li {
    font-size: 0.9rem;
}

section{
    border-bottom: 1px solid #d4e9ff;
    margin: 0 0 20px;
    padding: 0;
    min-height: 132px;
    color: var(--cortextoSecundaria);
}

section h2{
    font-size: 1.3rem;
    margin: 0 0 15px;
}

section ul li{
    margin: 0 0 10px
}

section p{
    font-size: 0.9rem;
    color: var(--corTextoPrimaria);
    line-height: 1.5;
}

h3 {
    font-size: 1.1rem;
}

strong {
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    margin: 5px 0 8px;
}

/*FOOTER*/
footer{
    background-color: var(--corBackgroundSecundaria);
}

footer .container {
    padding: 20px;
}

footer nav ul li a{
    color: white;
}

ul.contato li {
    margin: 0 0 10px;
    font-size: 0.9rem;
    color: white;
}

ul.redes-sociais {
    border-top: 1px solid rgb(255 255 255 / 30%);
    margin: 20px 0 40px;
    padding: 30px 0 0;
    text-align: center;
}

ul.redes-sociais li {
    margin: 0 25px 20px;
    text-align: center;
    display: inline-block;
}

footer nav .redes-sociais li a img{
    width: 40px;
    filter: invert(0.8);
}

/*EXTRAS*/
input{
    width: 50px;
    height: 50px;
    display: none;
}

.ativar-dark:checked ~ .dark-mode{
    --corBackgroundPrimaria: black;
    --corBackgroundSecundaria: black;
    --corTextoPrimaria: white;
    --cortextoSecundaria: white;
}

.ativar-dark:checked ~ .dark-mode header{
    background-color: var(--corBackgroundSecundaria);
}

.ativar-dark:checked ~ .dark-mode .container{
    background-color: var(--corBackgroundDark);
}

.ativar-dark:checked ~ .dark-mode main{
    background-color: var(--corBackgroundSecundaria);
}

label{
    background-color: var(--corBackgroundSecundaria);
    border: solid var(--corBackgroundSecundaria) 2px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
}

span {
    width: 20px;
    height: 20px;
    display: block;
    background-color: var(--corBackgroundPrimaria);
    border-radius: 100%;
    padding: 2px;
    transition: all ease .5s;
}

.ativar-dark:checked ~ .dark-mode label{
    background-color: white;
}

.ativar-dark:checked ~ .dark-mode span{
    background-color:var(--corBackgroundDark);
    transform: translateX(20px);
    transition-duration: .5s;
}

/*@MEDIA*/
@media only screen and (min-width:768px){
    .linha {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
    }

    ul.redes-sociais {
        display: flex;
        justify-content: center;
    }

    header{
        padding-top: 30px; 
    }

    header label {
        top: 30px;
        right: 30px;
    }

    header .linha{
        border-bottom: initial;
    }

    header .sup-esquerda img{
        max-width: 250px;
        border-radius: 100%;
    }

    header .sup-direita{
        text-align: left;
        padding: 0;
    }

    header .coluna ul li {
        margin: 10px 0 0;
    }

    main .coluna{
        min-height: 718px;
        padding: 0;
    }

    section{
        border: 1px solid #d4e9ff;
        padding: 20px;
        min-height: 132px;
    }

    footer .container {
        padding: 20px 0;
    }

    ul.redes-sociais li {
        margin: 0 15px;
        text-align: center;
        display: initial;
    }
}        